{% extends 'main/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{title}}</h1>
        <p>In my website has simple information, that can you help solve a variate of math exercise, i think</p>
        <button class="btn btn-warning">In the page about us</button>

<!--        {% for el in values %}-->
<!--            {% if el == 'Hello'%}-->
<!--                {% filter upper%}-->
<!--                  <p>{{el}}</p>-->
<!--                {% endfilter%}-->
<!--            {% endif%}-->

<!--        {% endfor%}-->
<!--        {% for el in obj %}-->
<!--            <p>{{el}}</p>-->
<!--        {% endfor%}-->


    </div>
{% endblock %}